<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmazonPDF.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AmazonPDF.My.MySettings>
            <setting name="NomSave" serializeAs="String">
                <value />
            </setting>
            <setting name="AdresseFSave" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSave" serializeAs="String">
                <value />
            </setting>
            <setting name="DASave" serializeAs="String">
                <value>2020-11-23</value>
            </setting>
            <setting name="ArticlesSave" serializeAs="String">
                <value>- </value>
            </setting>
            <setting name="AdresseLSave" serializeAs="String">
                <value />
            </setting>
            <setting name="NbCommandeSave" serializeAs="String">
                <value />
            </setting>
            <setting name="LivreSave" serializeAs="String">
                <value>2020-11-23</value>
            </setting>
        </AmazonPDF.My.MySettings>
    </userSettings>
</configuration>